<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

    <div class="container">
        <div class="row">

            <div th:replace="fragments/header :: header"></div>

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Welcome to my site</h3>
                    </div>
                    <div class="panel-body">


                        <form th:action="@{/login}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" name="username" type="email" placeholder="Email Address" minlength="1" required="required" autofocus="autofocus"/>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" name="password" type="password" placeholder="Password" minlength="1" required="required"/>
                                </div>

                                <button id="submitButton" type="submit" class="btn btn-success btn-block">Login</button>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>

        </div>
    </div>

</body>
</html>