<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-press"  class="press-page">
    <h3>Sajtó</h3>
    <!--( a ) Resume Page Fixed Image Portion -->

    <!--<div class="image-container col-md-5 col-sm-12">-->
    <!--<div class="mask">-->
    <!--</div>-->
    <!--<div class="main-heading">-->
    <!--<h1>RE<span>S</span>UME</h1>-->
    <!--</div>-->
    <!--</div>-->

    <!--( b ) Resume Page Content -->

    <!--<div class="content-container col-md-7 col-sm-12">-->

    <!--&lt;!&ndash;( A ) Education Section &ndash;&gt;-->

    <!--<div class="education clearfix">-->
    <!--<h2 class="small-heading">EDUCATION</h2>-->

    <!--<div class="education-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">-->
    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="education-content">-->
    <!--<h3>University of Graphics<span> / October 2013 - March 2015</span></h3>-->
    <!--<p>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent-->
    <!--maximus ornare quam, id consectetur dui eleifend nec. Nam consectetur orci id nulla varius,-->
    <!--quis facilisis dui vulputate. Sed ultrices eu erat non mollis. Phasellus ut libero.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Education Item [ END ] &ndash;&gt;-->

    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="education-content">-->
    <!--<h3>University of Graphics<span> / October 2011 - March 2013</span></h3>-->
    <!--<p>-->
    <!--In eu semper velit. Ut laoreet, sapien ac porta aliquam, est enim blandit nisl, ut semper-->
    <!--dui justo a sapien. Nam orci ipsum, rutrum semper purus a, posuere molestie lorem. Sed ut-->
    <!--nibh lobortis, semper ligula ut, tempus mi. In.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Education Item [ END ] &ndash;&gt;-->

    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="education-content">-->
    <!--<h3>University of Graphics<span> / October 2009 - March 2011</span></h3>-->
    <!--<p>-->
    <!--Maecenas hendrerit euismod lorem, vitae mollis odio consectetur a. Aliquam at viverra nunc.-->
    <!--Fusce neque lectus, vehicula eget lectus ac, consequat mollis erat. Sed sed interdum nisl.-->
    <!--Nulla maximus odio vitae turpis rhoncus tempus. Donec vel elit quis metus rutrum.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Education Item [ END ] &ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;( B ) Experience Section &ndash;&gt;-->

    <!--<div class="experience clearfix">-->
    <!--<h2 class="small-heading">EXPERIENCE</h2>-->
    <!--<div class="experience-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">-->
    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="experience-content">-->
    <!--<h3>Senior Web Designer<span> / October 2013 - March 2015<br/>-->
    <!--Lorem Ipsum, Inc.</span></h3>-->
    <!--<p>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent-->
    <!--maximus ornare quam, id consectetur dui eleifend nec. Nam consectetur orci id nulla varius,-->
    <!--quis facilisis dui vulputate. Sed ultrices eu erat non mollis. Phasellus ut libero.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Experience Item [ END ] &ndash;&gt;-->

    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="experience-content">-->
    <!--<h3>Senior Web Designer<span> / October 2011 - March 2013<br/>-->
    <!--Lorem Ipsum, Inc.</span></h3>-->
    <!--<p>-->
    <!--In eu semper velit. Ut laoreet, sapien ac porta aliquam, est enim blandit nisl, ut semper-->
    <!--dui justo a sapien. Nam orci ipsum, rutrum semper purus a, posuere molestie lorem. Sed ut-->
    <!--nibh lobortis, semper ligula ut, tempus mi. In.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Experience Item [ END ] &ndash;&gt;-->

    <!--<div class="item">-->
    <!--<div class="bullet hidden-xs">-->
    <!--</div>-->
    <!--<div class="experience-content">-->
    <!--<h3>Senior Web Designer<span> / October 2009 - March 2011<br/>-->
    <!--Lorem Ipsum, Inc.</span></h3>-->
    <!--<p>-->
    <!--Maecenas hendrerit euismod lorem, vitae mollis odio consectetur a. Aliquam at viverra nunc.-->
    <!--Fusce neque lectus, vehicula eget lectus ac, consequat mollis erat. Sed sed interdum nisl.-->
    <!--Nulla maximus odio vitae turpis rhoncus tempus. Donec vel elit quis metus rutrum.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Experience Item [ END ] &ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;( C ) Skills Section &ndash;&gt;-->

    <!--<div class="skills clearfix">-->
    <!--<h2 class="small-heading">SKILLS</h2>-->
    <!--<div class="clearfix">-->
    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Photoshop</h3>-->
    <!--<div class="skill" data-percent="60">-->
    <!--<span>60%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Illustrator</h3>-->
    <!--<div class="skill" data-percent="65">-->
    <!--<span>65%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Dreamweaver</h3>-->
    <!--<div class="skill" data-percent="80">-->
    <!--<span>80%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Design</h3>-->
    <!--<div class="skill" data-percent="55">-->
    <!--<span>55%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Development</h3>-->
    <!--<div class="skill" data-percent="90">-->
    <!--<span>90%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--<div class="skill-container col-sm-4">-->
    <!--<h3>Coding</h3>-->
    <!--<div class="skill" data-percent="85">-->
    <!--<span>85%</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Single Skills Item [ END ] &ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;( C ) Footer Section &ndash;&gt;-->

    <!--<div class="footer clearfix">-->
    <!--<a href="#">JOHN DOE</a>-->
    <!--<p>-->
    <!--Copyright © 2015 All right reserved-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->


</div>
</body>
</html>