<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/header :: admin_header"></div>

    <div class="container">
        <form>

            <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">

                <!--PANEL HEADING-->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Dokumentum feltöltése</h3>
                        </div>
                    </div>
                </div>

                <!--PANEL BODY-->
                <div id="post-list-panel-body" class="panel-body">

                        <!--TITLE-->
                        <div class="form-group">
                            <label>Cím</label>
                            <input type="text" class="form-control" placeholder="Cím megadása"/>
                        </div>

                        <!--TYPE OF DOCOUMENT-->
                        <div class="form-group">
                            <label>Example multiple select</label>
                            <select multiple="multiple" class="form-control">
                                <option>Technikai kivetítés</option>
                                <option>Költségvetési elemzés</option>
                                <option>Egyéb</option>
                            </select>
                        </div>

                        <!--TEXTREA FOR DETAILS-->
                        <div class="form-group">
                            <label for="exampleTextarea">Example textarea</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                        <!--UPLOAD FILE-->
                        <div class="form-group">
                            <label>File kiválasztása</label>
                            <input type="file" class="form-control-file" aria-describedby="fileHelp"/>
                        </div>

                </div>

                <!--PANEL FOOTER-->
                <div class="panel-footer text-right">
                    <!--SUBMIT BUTTON-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>

        </form>
    </div>
</body>
</html>