<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/skeleton/head :: head_admin"></head>

<head>
    <link rel="stylesheet"  th:href="@{/admin/css/post-creation.css}" />
</head>

<body>

<div th:replace="fragments/skeleton/header :: admin_header"></div>

<div class="container">

    <form action="#" th:action="@{/admin/create-post}" th:object="${postDto}" method="post">

        <input type="hidden" th:field="*{post.id}" />


        <!--Title and post body-->
        <div class="form-group">
            <div class="row">
                <h2 class="heading">Cím és tartalom</h2>
            </div>

            <div class="row">
                <div class="controls">
                    <input type="text" th:field="*{post.title}" id="title" class="floatLabel" required="required" autofocus="autofocus" name="name"/>
                    <label for="title">Cím</label>
                </div>
            </div>

            <div class="row">
                <div class="controls">
                    <textarea th:field="*{post.body}" name="body" required="required" class="floatLabel" id="body"></textarea>
                    <label for="body">Tartalom</label>
                </div>
            </div>
        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--TODO: fix this-->


        <script th:inline="javascript">
            /*<![CDATA[*/
            var username = /*[[${postDto.post.documentCategoryTags}]]*/ 'Sebastian';
            username.forEach(function(entry) {
                console.log(entry.documentCategory.$name);
            });
            /*]]>*/
        </script>

        <!--Target audience type-->
        <div class="form-group">
            <div class="row">
                <h2 class="heading">Elemzés fajtája</h2>
                <!--<ul th:each="category : ${post.documentCategoryTags}">-->
                    <!--<li th:text="category">cica</li>-->
                <!--</ul>-->
            </div>
            <div class="row">

                <select th:field="*{documentCategories}" type="text" class="form-control multiselect multiselect-icon" multiple="multiple" role="multiselect">
                    <div>
                        <option th:each="category : ${T(com.codecool.model.enums.DocumentCategory).values()}"
                                th:value="${category}"
                                th:text="${category}"
                                th:attr="selected='selected'"
                                data-icon="glyphicon-link">
                        </option>
                    </div>
                </select>

                <p th:text="cica">kutya</p>
                <ul th:each="category : ${T(com.codecool.model.enums.DocumentCategory).values()}">
                    <li th:text="${category}"></li>
                    <li th:text="${postDto.post.documentCategoryTags}"></li>
                    <li th:text="${#lists.contains(postDto.post.documentCategoryTags, category)}"></li>
                </ul>
                <!--th:text="${category.name}"-->
                <!--th:attr="required=${field.isRequired ? 'required' : null}, data-parsley-range=${field.validStringLengthMin ? [${field.validStringLengthMin},${field.validStringLengthMax}] : null}"-->


            </div>
        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--Analysis type-->
        <div class="form-group">
            <div class="row">
                <h2 class="heading">Célközönség</h2>
            </div>
            <div class="row">

                <select th:field="*{targetAudienceCategories}" type="text" class="form-control multiselect multiselect-icon" multiple="multiple" role="multiselect">
                    <option th:each="category : ${T(com.codecool.model.enums.TargetAudienceCategory).values()}"
                            th:value="${category}"
                            th:text="${category.name}"
                            data-icon="glyphicon-link">
                    </option>
                </select>

            </div>
        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


        <!--File upload-->
        <div class="form-group">

            <div class="row">
                <h2 class="heading">Fájlok feltöltése</h2>
            </div>

            <div class="row">
                <p>Tölts fel fájlokat, vagy válassz ki már feltöltött fájlokat, amelyek az új tartalomhoz tartoznak majd.</p>
            </div>

            <div class="row">

                <div class="input-group image-preview">

                    <span class="input-group-btn">

                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Új fájlok feltöltése</span>
                            <input type="file" id="file" name="file"/>
                        </div>

                        <div class="btn btn-default image-preview-input" data-target="#file-selector" data-toggle="modal">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Már feltöltött fájlok kiválasztása</span>
                        </div>

                    </span>

                </div>

            </div>

            <div class="row">
                <div class="list-group" id="uploadedFiles"></div>
            </div>

        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


        <!--Post activation-->
        <div class="form-group">

            <div class="row">
                <h2 class="heading">Szeretnéd aktiválni az új tartalmat?</h2>
            </div>
            <div class="row little-left-margin">
                <!--<input type="checkbox" checked="checked" data-toggle="toggle" data-on="Igen" data-off="Még nem" data-onstyle="success" data-offstyle="danger"/>-->
                <input th:field="*{post.isActive}" type="checkbox" checked="checked" data-toggle="toggle" data-on="Igen" data-off="Még nem" data-onstyle="success" data-offstyle="danger"/>
            </div>

        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


        <!--Submit Button-->
        <div class="form-group">
            <div class="row">
                <h2 class="heading"></h2>
            </div>
            <div class="row little-left-margin">
                <button type="submit" value="Létrehozás" class="col-1-4 btn-rounded">Létrehozás</button>
            </div>
        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    </form>
</div>

<div th:replace="fragments/skeleton/modals :: file-selector-modal"></div>
<div th:replace="fragments/skeleton/javascript-links :: javascript-link-admin"></div>
<div th:replace="fragments/skeleton/javascript-links :: file-upload"></div>
<script type="text/javascript" src="/admin/js/file-selector.js"></script>

</body>
</html>