<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div id="container">

    <div th:replace="fragments/header :: admin_header"></div>

    <div class="panel panel-default">

        <div id="upload-panel" class="panel-body">

            <!-- Standar Form -->
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">

                <div class="col-lg-6 col-sm-6 col-12">

                    <div class="input-group">
                        <h4>Válaszd ki a feltöltendő fájlokat</h4>
                    </div>

                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">Tallózás&hellip; <input type="file" style="display: none;" multiple="multiple"/></span>
                        </label>
                        <input type="text" class="form-control" readonly="readonly"/>

                    </div>

                    <div class="input-group">
                        <span class="help-block">A Ctrl nyomva tartásával egyszerre több fájlt is kijelölhetsz.</span>
                    </div>

                    <div class="input-group">
                        <h4>Vagy húzd be őket ide</h4>
                    </div>

                </div>

            </form>


            <!--&lt;!&ndash; Drop Zone &ndash;&gt;-->
            <!--<h4>Or drag and drop files below</h4>-->
            <!--<div class="upload-drop-zone" id="drop-zone">-->
                <!--Just drag and drop files here-->
            <!--</div>-->

            <!--&lt;!&ndash; Progress Bar &ndash;&gt;-->
            <!--<div class="progress">-->
                <!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">-->
                    <!--<span class="sr-only">60% Complete</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Upload Finished &ndash;&gt;-->
            <!--<div class="js-upload-finished">-->
                <!--<h3>Processed files</h3>-->
                <!--<div class="list-group">-->
                    <!--<a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

</div>

<div th:replace="fragments/javascript-links :: javascript-link"></div>

</body>
</html>