<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/header :: admin_header"></div>

    <div class="row">
        <div id="messagesDiv">
            <input type="file" id="file" name="file"/>
            <span id="linkbox"></span>
        </div>
    </div>

<div th:replace="fragments/javascript-links :: javascript-link"></div>
<div th:replace="fragments/javascript-links :: file-upload"></div>

</body>
</html>
