<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="menu-contact"  class="contact-btn">

        <!--<img alt="" src="user/user/images/menu/contact_btn.jpg">-->
        <!--<img alt="" src="user/user/images/menu/menu-1.jpg">-->
        <!--<img alt="" src="user/images/menu/menugeneral2.jpg"/>-->
        <!--<img alt="" src="user/images/menu/menugeneral_simple2.jpg"/>-->

        <div class="mask menu4">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="col-sm-10">
                <h2>KAP<span>CS</span>OLAT</h2>
                <h3>Közhasznú nonprofit korlátolt felelősségű társaság</h3>

                <p class="social-media hidden-xs">
                    <!--<a href="https://www.facebook.com/K%C3%B6lts%C3%A9gvet%C3%A9si-Felel%C5%91ss%C3%A9gi-Int%C3%A9zet-Budapest-282593051757248/?fref=ts"-->
                    <!--class="fa fa-facebook" data-toggle="tooltip" title="Facebook"></a>-->
                    <!--<a href="#" class="fa fa-cc-paypal" data-toggle="tooltip" title="Paypal">-->
                    <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
                    <!--<input type="hidden" name="cmd" value="_s-xclick" />-->
                    <!--<input type="hidden" name="hosted_button_id" value="TW6MN3SU7SMLY" />-->
                    <!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />-->
                    <!--</form>-->
                    <!--</a>-->
                </p>

                <!-- Social Media Icons [ END ] -->

            </div>
        </div>


</div>
</body>
</html>
