<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="menu-project"  class="portfolio-btn">

        <!--<img alt="" src="user/user/user/images/menu/profile_btn.jpg">-->
        <!--<img alt="" src="user/user/user/images/menu/menu-1.jpg">-->
        <!--<img alt="" src="user/imag/menu/menugeneral2.jpg"/>-->
        <img alt="" src="user/images/menu/menugeneral_simple2.jpg"/>
        <div class="mask">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-balance-scale"></i>
            </div>
            <div class="col-sm-10">
                <h2>PR<span>O</span>JEKTEK</h2>
                <h3>Some words about me.</h3>

                <!--<div>-->
                <!--<a href="#" class="fa fa-pie-chart" data-toggle="tooltip" data-placement="right" title="Költségvetési elemzések"></a>-->
                <!--<a href="#" class="fa fa-pie-chart" data-toggle="tooltip" data-placement="right" title="Költségvetési elemzések"></a>-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-twitter" data-toggle="tooltip" title="Twitter"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-plus" data-toggle="tooltip" title="Google+"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-behance" data-toggle="tooltip" title="Behance"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-flickr" data-toggle="tooltip" title="Flicker"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="fa fa-instagram" data-toggle="tooltip" title="Instagram"></a>&ndash;&gt;-->
                <!--</div>-->

                <!--<button type="button" class="btn btn-success" aria-label="Left Align" title="TECHNIKAI KIVETÍTÉSEK">-->
                <!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-success" aria-label="Left Align"-->
                <!--title="KÖLTSÉGVETÉSI ELEMZÉSEK">-->
                <!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-success" aria-label="Left Align" title="HATÁSVIZSGÁLATOK">-->
                <!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-success" aria-label="Left Align"-->
                <!--title="CIVILEK A KÖLTSÉGVETÉSRŐL">-->
                <!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-success" aria-label="Left Align"-->
                <!--title="OPEN BUDGET SURVEY 2015">-->
                <!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
                <!--</button>-->
            </div>
        </div>

</div>
</body>
</html>