<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="menu-introduction" class="introduction">

        <!--<img alt="" src="user/images/home-background.jpg"/>-->
        <div class="mask">
        </div>
        <div class="intro-content">
            <img alt="" src="user/images/logo_kfib_hu.png"/>
            <h1>KÖLTSÉGVETÉSI<br/>
                FELELŐSSÉGI INTÉZET <span></span></h1>
            <h2>Budapesti nonprofit elemző központ</h2>
            <br/>
            <div class="heading introduction-description">
                <h3>"Küldetésünk, hogy Magyarországon is meghonosodjék az átlátható, szakmai érveken
                    és tényeken alapuló döntéshozatal."
                </h3>
            </div>
        </div>

</div>
</body>
</html>