<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-aboutus"  class="profile-page">

    <!--( a ) Profile Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>RÓL<span>U</span>NK</h1>
        </div>
    </div>

    <!--( b ) Profile Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Story of Glory -->

        <div class="story clearfix">
            <h2 class="small-heading">RÓLUNK</h2>
            <div class="col-lg-11 col-lg-offset-1">
                <div class="story-content clearfix">
                    <!--<img alt="" src="user/user/images/dp.jpg" class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-10">-->
                    <!--<img alt="" src="user/user/images/logo_kfib_hu.png" class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-10">-->
                    <!--<div class="col-sm-8 col-xs-12">-->
                    <div>
                        <!--<h3>AN AWESOMW DESIGNER ON PLANET</h3>-->
                        <p>
                            Magyarország költségvetési politikáját 20 éve kiszámíthatatlanság jellemzi. Újabb és újabb
                            ciklusokban, az állam először a fenntarthatóság szintjét messze túllépve költekezik, majd az
                            összeomlás előtti utolsó pillanatban kényszerű és nagyarányú megszorításra kényszerül. A
                            felelőtlenül laza költségvetési politika időszakában szétosztott források fedezetét a
                            kényszerű megszorítások idején jól teljesítők fizetik meg.

                            A költségvetés átláthatósága olyan, mint a közvilágítás: mindenki számára hasznos. Közkincs,
                            amibe mindenkinek megéri befektetni, mert mindenki nyer általa. A kiszámítható költségvetési
                            politika megerősíti a közbizalmat, így a demokráciát, csökkenti a hazánkban befektetők
                            bizonytalanságát, és ezért az általuk elvárt kockázati felárakat, így növeli a vállalatok
                            hatékonyságát.

                            Az átláthatóságot meg kell teremteni. Más országokban sorra jönnek létre a független
                            költségvetési elemző- és tanácsadó intézmények. Hazánkban 2009-ben jött létre a Magyar
                            Köztársaság Költségvetési Tanácsa. A Tanács és költségvetési szervként működő elemzési
                            központja bebizonyította, hogy egy független, pártsemleges szervezet munkája alkalmas a
                            költségvetési átláthatóság és kiszámíthatóság megteremtésére, ezért erre a szerepre az
                            elemzési központ 2010. végi megszűnését követően különösen szükség van.

                            Ennek érdekében hoztuk létre civil kezdeményezésként a Költségvetési Felelősségi Intézet
                            Budapest nonprofit elemző központot. Küldetésünk, hogy Magyarországon is meghonosodjék az
                            átlátható, szakmai érveken és tényeken alapuló döntéshozatal. Az Intézet célja az
                            állampolgárok és általában a magánszektor pártatlan tájékoztatása a gazdasági folyamatok és
                            a gazdaságpolitikai döntések várható költségvetési hatásairól. A politikai viták a döntési
                            lehetőségekről szóljanak, a különféle döntések várható hatásainak kiszámítása pedig legyen a
                            szakértők feladata. Csak így biztosítható, hogy a mindenkori politikai szereplők
                            megalapozott, végrehajtható és fenntartható döntéseket hozhassanak, a gazdasági szereplők
                            pedig biztonsággal alapozhassák világos kormányzati stratégiára saját terveiket. </p>
                        <!--<p>-->
                        <!--Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.-->
                        <!--</p>-->
                        <!--<p>-->
                        <!--Curabitur pharetra tincidunt lobortis. Duis dolor felis, sollicitudin ac dapibus quis, hendrerit ut est. Sed faucibus neque iaculis nisi accumsan, et condimentum nunc scelerisque. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl. Fusce elementum orci in dignissim cursus.-->
                        <!--</p>-->
                        <!--<a href="#" class="hire-me">Hire Me</a>-->
                        <!--<a href="#">Download Resume</a>-->
                        <a href="#" class="donate"><i class="fa fa-cc-paypal" aria-hidden="true"></i> Adományozás</a>
                        <a href="https://www.facebook.com/atlathatosag/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    </div>


                </div>
            </div>

            <hr/>

            <h2 class="small-heading">Önéletrajzok</h2>
            <div class="col-lg-11 col-lg-offset-1">
                <div class="story-content clearfix">
                    <img alt="" src="user/images/dp.jpg" class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-10" />
                    <div class="col-sm-8 col-xs-12">
                        <h3>Romhányi Balázs</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat enim arcu, eget tempor nibh congue a. Maecenas faucibus sagittis nibh, in bibendum ex. Donec eu ornare augue, nec cursus arcu. Vivamus accumsan mauris nec nulla bibendum, et eleifend nisl tristique. Pellentesque fringilla lorem id nibh auctor sagittis. Suspendisse non nisl at velit malesuada bibendum.
                        </p>
                        <p>
                            Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                        </p>
                        <p>
                            Curabitur pharetra tincidunt lobortis. Duis dolor felis, sollicitudin ac dapibus quis, hendrerit ut est. Sed faucibus neque iaculis nisi accumsan, et condimentum nunc scelerisque. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl. Fusce elementum orci in dignissim cursus.
                        </p>
                        <!--<a href="#" class="hire-me">Hire Me</a>-->
                        <!--<a href="#">Download Resume</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-11 col-lg-offset-1">
                <div class="story-content clearfix">
                    <img alt="" src="user/images/dp.jpg" class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-10" />
                    <div class="col-sm-8 col-xs-12">
                        <h3>Hosszú Edmond</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat enim arcu, eget tempor nibh congue a. Maecenas faucibus sagittis nibh, in bibendum ex. Donec eu ornare augue, nec cursus arcu. Vivamus accumsan mauris nec nulla bibendum, et eleifend nisl tristique. Pellentesque fringilla lorem id nibh auctor sagittis. Suspendisse non nisl at velit malesuada bibendum.
                        </p>
                        <p>
                            Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
                        </p>
                        <p>
                            Curabitur pharetra tincidunt lobortis. Duis dolor felis, sollicitudin ac dapibus quis, hendrerit ut est. Sed faucibus neque iaculis nisi accumsan, et condimentum nunc scelerisque. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl. Fusce elementum orci in dignissim cursus.
                        </p>
                        <!--<a href="#" class="hire-me">Hire Me</a>-->
                        <!--<a href="#">Download Resume</a>-->
                    </div>
                </div>
            </div>

            <div th:replace="fragments/skeleton/footer :: footer"></div>

        </div>

        <!--&lt;!&ndash;( B ) What Can I Do &ndash;&gt;-->

        <!--<div class="services-container clearfix">-->
        <!--<h2 class="small-heading">WHAT CAN I DO?</h2>-->
        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-eyedropper"></i>-->
        <!--<h3>GRAPHIC DESIGN</h3>-->
        <!--<p>-->
        <!--Sed mi sem, sagi eros ac, laoreet commodo diam. Morbi id est in urna facilisis dictum. Mauris rutrum-->
        <!--mollis neque a sodales. Mauris sed ipsum nec turpis finibus.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-eye"></i>-->
        <!--<h3>WEB DESIGN</h3>-->
        <!--<p>-->
        <!--Vivamus et rhoncus mauris, suscipit efficitur elementum ex. Interdum et malesuada ipsum primis in-->
        <!--faucibus. Nullam odio libero, cursus ac ligula suscipit maximus.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-code"></i>-->
        <!--<h3>WEB DEVELOPMENT</h3>-->
        <!--<p>-->
        <!--Praesent ac varius ante, eu suscipit odio. Vesmolito modo pretium scelerisque. Sed vulputate ac-->
        <!--varius ante dapibus tempor. Maecenas ut cursus aug suscipit malesuada felis.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-lightbulb-o"></i>-->
        <!--<h3>BRIGHT IDEAS</h3>-->
        <!--<p>-->
        <!--Nunc egestas sed efficitur nulla a sodales. Pellentesque tincidunt diam quam, rhoncus congue-->
        <!--pellentesque eu, faucibus nec turpis. Quisque laoreet tincidunt turpis dolor tempus.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-rocket"></i>-->
        <!--<h3>APP DEVELOPMENT</h3>-->
        <!--<p>-->
        <!--Vestibulum dictum tincidunt pulvinar elementum. Etiam urna massa, vestibulum id purus id, vehicula-->
        <!--placerat dui. Aenean sit amet pulvinar urna. Ut at mi semper, eleifend.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--<div class="services col-lg-4 col-md-6 col-sm-4">-->
        <!--<i class="fa fa-wrench"></i>-->
        <!--<h3>SETTINGS</h3>-->
        <!--<p>-->
        <!--Vestibulum tincidunt sed dapibus elit, sed accumsan libero. Nam vulputate tincidunt quam quis nibh-->
        <!--porttitor, a tincidunt lacinia. Nulla turpis arcu, hendrerit volutpat tincidunt at, eget est.-->
        <!--</p>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Service Item [ END ]  &ndash;&gt;-->

        <!--</div>-->

        <!--&lt;!&ndash;( C ) Some Facts &ndash;&gt;-->

        <!--<div class="facts clearfix">-->
        <!--<div class="col-xs-4">-->
        <!--<h3>PROJECTS DONE</h3>-->
        <!--<h1>300+</h1>-->
        <!--</div>-->
        <!--<div class="col-xs-4">-->
        <!--<h3>HAPPY CLIENTS</h3>-->
        <!--<h1>100+</h1>-->
        <!--</div>-->
        <!--<div class="col-xs-4">-->
        <!--<h3>COFFEE CUPS</h3>-->
        <!--<h1>250+</h1>-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;( D ) Footer &ndash;&gt;-->

        <!--<div class="footer clearfix">-->
        <!--<a href="#">JOHN DOE</a>-->
        <!--<p>-->
        <!--Copyright © 2015 All right reserved-->
        <!--</p>-->
        <!--</div>-->
    </div>



</div>
</body>
</html>
