<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-donate"  class="donate-page">

    <!--( a ) Profile Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>ADOM<span>Á</span>NYOZÁS</h1>
        </div>
    </div>

    <!--( b ) Profile Page Content -->

    <div class="content-container col-md-7 col-sm-12 donation-right">

        <!--( A ) Story of Glory -->

        <div class="story clearfix">
            <!--<h2 class="small-heading">ADOMÁNYOZÁS</h2>-->

            <div class="story-content clearfix donation_descr">

                <!--( B ) What Can I Do -->

                <div class="services-container clearfix">
                    <h2 class="small-heading">Hogyan támogathatom?</h2>
                    <p>Kérjük Önt, hogy cégén keresztül vagy magánszemélyként támogassa munkánkat, amellyel
                        hozzájárulunk az ország költségvetésének átláthatóságához, a megalapozott döntéshozatalhoz!
                    </p>

                    <!--( B ) Testimonials Section -->

                    <div class="testimonials clearfix">
                        <h2 class="small-heading">Támogatási módok</h2>
                        <p>Kérjük, válassza ki az alábbi adományozási módok közül az Önnek legkényelmesebb megoldást:</p>

                        <div class="testimonials-container col-sm-10 col-sm-offset-1">
                            <div class="owl-carousel">
                                <div>
                                    <p>
                                        Banki átutalás - Bankszámlánk adatai:
                                         - kedvezményezett neve: kfib.hu Közhasznú Nonprofit Kft.
                                         - bankszámlaszáma: 16200010-00128333 (Magnet Bank).
                                        Ha cégként támogatja munkánkat, kérjük, hogy az átutalás közleményében adja meg a cég elérhetőségét, hogy megküldhessük az adókedvezmény igénybevételéhez szükséges dokumentumokat.
                                    </p>
                                    <!--<h3>Justin Peterson</h3>-->
                                </div>

                                <!-- Single Testimonial Item [ END ] -->

                                <div>
                                    <p>
                                        Postai befizetés sárga csekken. Kérjen tőlünk csekket a kapcsolat@kfib.hu e-mail címen!
                                    </p>
                                    <!--<h3>Cristina Devis</h3>-->
                                </div>

                                <!-- Single Testimonial Item [ END ] -->

                            </div>
                        </div>
                    </div>




                    <h4>3+1 érv, amiért érdemes támogatnia munkánkat:</h4>

                    <div class="services col-lg-4 col-md-6 col-sm-4 cause_box">
                        <i class="ion-compass"></i>
                        <h3>KISZÁMÍTHATÓSÁG</h3>

                        <p class="justified-paragraph ">
                            Ön, akár mint adófizető, akár mint cégvezető kiszámítható, stabil gazdasági környezetben
                            végezhesse munkáját, tervezhesse jövőjét. Mi a kiszámíthatóság és a stabilitás
                            megteremtéséért dolgozunk.
                        </p>

                    </div>

                    <div class="services col-lg-4 col-md-6 col-sm-4 cause_box">
                        <i class="ion-android-people"></i>
                        <h3>FÜGGETLENSÉG</h3>

                        <p class="justified-paragraph ">
                            Ön, mint a közügyek iránt érdeklődő állampolgár valós, politikai és üzleti érdekek be
                            folyásától mentes, magas szakmai színvonalú anyagokat olvashasson az ország egészét érintő g
                            azdasági kérdésekről.
                        </p>
                    </div>

                    <div class="services col-lg-4 col-md-6 col-sm-4 cause_box">
                        <i class="ion-android-people"></i>
                        <h3>KONTROLL</h3>

                        <p class="justified-paragraph ">
                            Ön, mint választópolgár a politikai folyamatok feletti civil kontrollt erősítse a kiszámítható és reális költségvetés érdekében.
                        </p>
                    </div>

                    <div class="services col-lg-4 col-md-6 col-sm-4 cause_box">
                        <i class="ion-android-people"></i>
                        <h3>ADÓZÁS</h3>

                        <p class="justified-paragraph ">
                            A cég által befizetett adomány költségként vehető figyelembe, tehát az adomány mentesül a társasági adó alól.  A kedvezmény automatikus; a szükséges dokumentumokat megküldjük adományozóinknak a törvény által előírt határidőre.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-lg-offset-1 panel_faq">
                <div th:replace="fragments/faq :: donate_faq"></div>
            </div>
        </div>
        <div th:replace="fragments/skeleton/footer :: footer"></div>
    </div>
</div>
</body>
</html>