<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Költségvetési Felelősségi Intézet</title>

        <!--  Fonts Online -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>

          <!--Style Sheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>

        <link rel="stylesheet"  th:href="@{/css/style.css}" />
    </head>

    <head th:fragment="firebaseInitialization">
        <script>
            var config = {
                apiKey: "AIzaSyAQguIPlj06NUO7AL6niuH0DIHx4sBmto0",
                authDomain: "kfib-d5ded.firebaseapp.com",
                databaseURL: "https://kfib-d5ded.firebaseio.com",
                storageBucket: "kfib-d5ded.appspot.com",
                messagingSenderId: "823339470062"
            };
            firebase.initializeApp(config);
        </script>
    </head>

</html>