<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<div th:fragment="are-you-sure-modal">

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" type="button" id="deleteButton" class="btn btn-danger btn-ok">Delete</a>
                    <!--<button th:href="@{/admin/posts/} + ${post.id}" type="submit" class="btn btn-danger btn-ok">Delete</button>-->

                </div>
            </div>
        </div>
    </div>

</div>

<div th:fragment="file-selector-modal">

    <div class="modal fade" id="file-selector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Fájlok kiválasztása</h4>
                </div>
                <div class="modal-body">

                    <p>Ide jön a fileselector...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                    <a href="#" type="button" class="btn btn-success btn-ok">Kiválasztás</a>

                </div>
            </div>
        </div>
    </div>

</div>

</html>