<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="universal-error">

    <div class="error-404">
        <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
        <h2 class="font-bold">Sajnos az általad kért oldal nem található.</h2>

        <div class="error-desc">
            <div>
                <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Vissza a főoldalra</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>