/*--------------------------------------------------------------------------------------------------------------------*/
/*Own additions for styling the page creation page*/

.little-left-margin{
    margin-left: 1px;
}

.btn-rounded{
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-danger:hover {
    background-color: #333333;
    border-color: #333333;
}

.btn-danger {
    background-color: gray;
    border-color: gray;
}

.btn-danger:active, .btn-danger.active {
    background-color: gray;
    border-color: gray;
}

.btn-danger.active:hover, .btn-danger.active:hover {
    background-color: #333333;
    border-color: #333333;
}

.btn-success:hover, .btn-success:focus, .btn-success:checked {
    background-color: #4686CC;
    border-color: #4686CC;
}

.btn-success {
    background-image: linear-gradient(to bottom,#3b5e70 0,#3b5e70 100%);
}
