/*--------------------------------------------------------------------------------------------------------------------*/
/*DATA TABLE*/
#post-list-panel-body{
    margin: 10px 10px 10px 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*LOGIN FORM*/
.login-form-margin {
    margin-top: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Error page*/

.error-404 {
    margin: 50px auto;
    text-align: center;
}
.error-404 .error-code {
    bottom: 60%;
    color: #4686CC;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
}
.error-404 .error-desc {
    font-size: 12px;
    color: #647788;
}
.error-404 .m-b-10 {
    margin-bottom: 10px!important;
}
.error-404 .m-b-20 {
    margin-bottom: 20px!important;
}
.error-404 .m-t-20 {
    margin-top: 20px!important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Vertical divider for navbar*/

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*File upload*/

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}



.file-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.file-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-preview-input-title {
    margin-left:2px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Post creation*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font: inherit;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
/*}*/

/*html {*/
    /*line-height: 1;*/
/*}*/

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header main, menu, nav, section, summary {
    display: block;
}

/* Colors */
/* ---------------------------------------- */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {*/
    /*text-align: center;*/
    /*font-family: 'Lato', 'sans-serif';*/
    /*font-weight: 400;*/
/*}*/

u.thick {
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.info-text {
    text-align: left;
    width: 100%;
}

header, form {
    padding: 4em 10%;
}

.form-group {
    margin-bottom: 20px;
}

h2.heading {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    color: #506982;
    border-bottom: 1px solid #506982;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.controls {
    text-align: left;
    position: relative;
}
.controls input[type="text"],
.controls input[type="email"],
.controls input[type="number"],
.controls input[type="date"],
.controls input[type="tel"],
.controls textarea,
.controls button,
.controls select {
    padding: 12px;
    font-size: 14px;
    border: 2px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 19px;
    font-weight: 300;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.controls input[type="text"]:focus, .controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="number"]:focus,
.controls input[type="number"]:hover,
.controls input[type="date"]:focus,
.controls input[type="date"]:hover,
.controls input[type="tel"]:focus,
.controls input[type="tel"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
    outline: none;
    border-color: #9FB1C1;
}
.controls input[type="text"]:focus + label, .controls input[type="text"]:hover + label,
.controls input[type="email"]:focus + label,
.controls input[type="email"]:hover + label,
.controls input[type="number"]:focus + label,
.controls input[type="number"]:hover + label,
.controls input[type="date"]:focus + label,
.controls input[type="date"]:hover + label,
.controls input[type="tel"]:focus + label,
.controls input[type="tel"]:hover + label,
.controls textarea:focus + label,
.controls textarea:hover + label,
.controls button:focus + label,
.controls button:hover + label,
.controls select:focus + label,
.controls select:hover + label {
    color: #bdcc00;
    cursor: text;
}
.controls .fa-sort {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #999;
}
.controls select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.controls label {
    position: absolute;
    left: 8px;
    top: 12px;
    width: 60%;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
    background-color: white;
}
.controls label.active {
    top: -11px;
    color: #555;
    background-color: white;
    width: auto;
}
.controls textarea {
    resize: none;
    height: 500px;
}

#something {
    width: 9.9em;
}

#regno {
    width: 12.6em;
}

#btnReg {
    height: 3.8em;
}

button {
    cursor: pointer;
    background-color: #32505F;
    border: none;
    color: #fff;
    padding: 12px 0;
    float: right;
}
button:hover {
    background-color: #3b5e70;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    background: white;
}
.grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;
}
.grid [class*='col-']:last-of-type {
    padding-right: 0;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

@media (max-width: 760px) {
    .col-1-4-sm, .col-1-3, .col-2-3 {
        width: 100%;
    }

    [class*='col-'] {
        padding-right: 0px;
    }
}
.col-1-8 {
    width: 12.5%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Tag selection*/
.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#32505F;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

.hr-seperator {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*Upload cuccosnak a CSSje*/
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    font-size: 20px;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

#uploadedFiles {
    margin-top: 20px;
}

.file-list {
    margin-top: 5px;
}