/*--------------------------------------------------------------------------------------------------------------------*/
/*DATA TABLE*/
#post-list-panel-body{
    margin: 10px 10px 10px 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*LOGIN FORM*/
.login-form-margin {
    margin-top: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Error page*/

.error-404 {
    margin: 50px auto;
    text-align: center;
}
.error-404 .error-code {
    bottom: 60%;
    color: #4686CC;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
}
.error-404 .error-desc {
    font-size: 12px;
    color: #647788;
}
.error-404 .m-b-10 {
    margin-bottom: 10px!important;
}
.error-404 .m-b-20 {
    margin-bottom: 20px!important;
}
.error-404 .m-t-20 {
    margin-top: 20px!important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Vertical divider for navbar*/

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*File upload*/

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}