<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-project" class="project-page">


    <!--( a ) Portfolio Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <h2 class="small-heading">Projektek szűrése</h2>

        <!--<div class="container">-->
            <!--<div class="row text-center">-->
                <!--<label for="default" class="btn btn-default">Default <input type="checkbox" id="default" class="badgebox"/><span class="badge">&check;</span></label>-->
                <!--<label for="success" class="btn btn-success">Success <input type="checkbox" id="success" class="badgebox"/><span class="badge">&check;</span></label>-->
        <input type="button" class="btn btn-default" value="Összes szűrő törlése"/>
        <br/>
        Kérem válasszon időbeli sorrendet! *
        <br/>
        <button>^</button>
        <button>ˇ</button>
        <br/>
        <label for="warning" class="btn btn-warning">Kiemelt projektek <input type="checkbox" id="warning" class="badgebox"/><span class="badge">&check;</span></label>
        <br/>
        Kérem válasszon a felhasználók közül! *
        <br/>
        <label for="info" class="btn btn-info">Újságíró <input type="checkbox" id="info" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="info2" class="btn btn-info">Döntéshozó <input type="checkbox" id="info2" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="info3" class="btn btn-info">Civil szervezet <input type="checkbox" id="info3" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="info4" class="btn btn-info">Elemző <input type="checkbox" id="info4" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="info5" class="btn btn-info">Állampolgárok <input type="checkbox" id="info5" class="badgebox"/><span class="badge">&check;</span></label>
        <br/>
        Kérem válasszon a projektek típusa közül! *
        <br/>
        <label for="primary" class="btn btn-primary">Átláthatóság <input type="checkbox" id="primary" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary2" class="btn btn-primary">Technikai kivetítés <input type="checkbox" id="primary2" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary3" class="btn btn-primary">Költségvetési elemzés <input type="checkbox" id="primary3" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary4" class="btn btn-primary">Módszertan <input type="checkbox" id="primary4" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary5" class="btn btn-primary">OBI <input type="checkbox" id="primary5" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary6" class="btn btn-primary">Hatásvizsgálatok <input type="checkbox" id="primary6" class="badgebox"/><span class="badge">&check;</span></label>
        <label for="primary7" class="btn btn-primary">Egyéb elemzések <input type="checkbox" id="primary7" class="badgebox"/><span class="badge">&check;</span></label>


                <!--<label for="danger" class="btn btn-danger">Danger <input type="checkbox" id="danger" class="badgebox"/><span class="badge">&check;</span></label>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="mask">-->
        <!--</div>-->
        <!--<div class="main-heading">-->
            <!--<h1>PRO<span>J</span>EKTEK</h1>-->
        <!--</div>-->
    </div>

    <!--( b ) Portfolio Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Portfolio -->

        <div class="portfolio">
            <h2 class="small-heading">PROJEKTEK</h2>
            <div class="project-container">

                <div class="project-controls">

                </div>

            </div>
        </div>

        <!--( B ) Testimonials Section -->

        <!--<div class="testimonials clearfix">-->
            <!--<h2 class="small-heading">SOME WORDS FROM CLIENTS</h2>-->
            <!--<div class="testimonials-container col-sm-10 col-sm-offset-1">-->
                <!--<div class="owl-carousel">-->
                    <!--<div>-->
                        <!--<p>-->
                            <!--<i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                            <!--Curabitur ullamcorper aliquet nulla, eget feugiat mi pellentesque sed. In neque erat,-->
                            <!--vulputate eu justo et, posuere scelerisque nulla.<i class="fa fa-quote-right"></i>-->
                        <!--</p>-->
                        <!--<h3>Justin Peterson</h3>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Single Testimonial Item [ END ] &ndash;&gt;-->

                    <!--<div>-->
                        <!--<p>-->
                            <!--<i class="fa fa-quote-left"></i>Sed vulputate nibh id molestie efficitur. Maecenas cursus-->
                            <!--est a quam ullamcorper, eu iaculis ullamcorper. Maecenas pretium aliquet mi, tincidunt-->
                            <!--semper lectus rutrum et.<i class="fa fa-quote-right"></i>-->
                        <!--</p>-->
                        <!--<h3>Cristina Devis</h3>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Single Testimonial Item [ END ] &ndash;&gt;-->

                    <!--<div>-->
                        <!--<p>-->
                            <!--<i class="fa fa-quote-left"></i>Ut tristique pellentesque arcu, in hendrerit urna rhoncus-->
                            <!--sed. Vivamus vel diam ex. Nunc nunc vitae lectus facilisis imperdiet. Proin pretium tempus-->
                            <!--dui, et vehicula purus.<i class="fa fa-quote-right"></i>-->
                        <!--</p>-->
                        <!--<h3>Jonny Watts</h3>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Single Testimonial Item [ END ] &ndash;&gt;-->

                    <!--<div>-->
                        <!--<p>-->
                            <!--<i class="fa fa-quote-left"></i>Etiam sollicitudin ornare pulvinar. Nullam a vulputate-->
                            <!--lectus. Maecenas a nisl leo. Curabitur ante nisi, pellentesque et turpis eget, iaculis porta-->
                            <!--lorem. Aenean in justo nec turpis maximus.<i class="fa fa-quote-right"></i>-->
                        <!--</p>-->
                        <!--<h3>John Doe</h3>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Single Testimonial Item [ END ] &ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;( C ) Some Facts &ndash;&gt;-->

        <!--<div class="facts clearfix">-->
            <!--<div class="col-xs-4">-->
                <!--<h3>PROJECTS DONE</h3>-->
                <!--<h1>300+</h1>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<h3>HAPPY CLIENTS</h3>-->
                <!--<h1>100+</h1>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<h3>COFFEE CUPS</h3>-->
                <!--<h1>250+</h1>-->
            <!--</div>-->
        <!--</div>-->

        <!-- Footer -->
        <div th:replace="fragments/skeleton/footer :: footer"></div>
    </div>


</div>
</body>
</html>
