<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-project" class="project-page">


    <!--( a ) Portfolio Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <h2 class="small-heading">Projektek szűrése</h2>

        <!--Összes szűrő törlése-->

        <!--Kiemelt projektek mutatása-->

        <!--Felhasználói besorolás: Újságíró, Döntéshozó, Civil szervezet, Elemző, Állampolgár-->
        <!--Projektek típusa: Átláthatóság, Technikai kivetítés, Költségvetési elemzés, Módszertan, OBI, Hatásvizsgálatok, Egyéb elemzések-->

        <div id="selectorWrapper">

            <ul class="filter-list">

                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button highlighted data-first" data-color="default">Kiemelt projektjeink</button>
                    <input type="checkbox" class="hidden"/>
                </li>

                <li><br/><br/></li>
                <h4>Célközönség szerinti szűrés</h4>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-first" data-color="default">Újságíró</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-second" data-color="default">Döntéshozó</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-third" data-color="default">Civil szervezet</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-fourth" data-color="default">Elemző</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-fifth" data-color="default">Állampolgár</button>
                    <input type="checkbox" class="hidden"/>
                </li>

                <li><br/><br/></li>
                <h4>Téma szerinti szűrés</h4>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Átláthatóság</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Technikai kivetítés</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Költségvetési elemzés</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Módszertan</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">OBI</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Hatásvizsgálat</button>
                    <input type="checkbox" class="hidden"/>
                </li>
                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button projectSort" data-color="default">Egyéb elemzések</button>
                    <input type="checkbox" class="hidden"/>
                </li>
            </ul>

        </div>
    </div>


    <div class="content-container col-md-7 col-sm-12">

    <div class="portfolio">
        <h2 class="small-heading">Projektek és elemzések</h2>

        <ul class="post-list">

            <li th:each="post : ${posts}">
                <a href="">
                    <span th:text="${post.title}" class="post-title">Post title</span>
                    <span th:text="${post.body}" class="post-body">Post body</span>
                </a>
            </li>

            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="post-title">You Tube</span>-->
                    <!--<span class="post-body">New subscribers!</span>-->
                <!--</a>-->
            <!--</li>-->

        </ul>

    </div>
</div>
</div>
</body>
</html>
