<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content-project" class="project-page">


    <!--( a ) Portfolio Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <h2 class="small-heading">Projektek szűrése</h2>

        <!--Összes szűrő törlése-->

        <!--Kiemelt projektek mutatása-->

        <!--Felhasználói besorolás: Újságíró, Döntéshozó, Civil szervezet, Elemző, Állampolgár-->
        <!--Projektek típusa: Átláthatóság, Technikai kivetítés, Költségvetési elemzés, Módszertan, OBI, Hatásvizsgálatok, Egyéb elemzések-->

        <div id="selectorWrapper">

            <ul class="filter-list">

                <li class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button highlighted data-first" data-color="default">Kiemelt projektjeink</button>
                    <input type="checkbox" class="hidden"/>
                </li>

                <li><br/><br/></li>
                <h4>Célközönség szerinti szűrés</h4>

                <li th:each="tag : ${targetAudienceTags}" class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-first" data-color="default"><span th:text="${tag.getName()}"></span></button>
                    <input type="checkbox" class="hidden"/>
                </li>

                <li><br/><br/></li>
                <h4>Téma szerinti szűrés</h4>
                <li th:each="tag : ${documentCategoryTags}" class="button-checkbox">
                    <button type="button" class="btn btn-lg btn-block selector-button userSort data-first" data-color="default"><span th:text="${tag.getName()}"></span></button>
                    <input type="checkbox" class="hidden"/>
                </li>
            </ul>

        </div>
    </div>


    <div class="content-container col-md-7 col-sm-12">

    <div class="portfolio">
        <h2 class="small-heading">Projektek és elemzések</h2>

        <ul class="post-list">

            <li th:each="post, postIteration : ${posts}" class="postListItem">
                <a href="">
                    <div th:each="category, categoryIteration : ${post.documentCategoryTags}">
                        <script th:inline="javascript">

                            var currentCategory = [[${category}]];
                            var postList = document.getElementsByClassName("postListItem");
                            var currentListElement = postList[postList.length-1];

                            currentListElement.classList.add(currentCategory.documentCategory.$name);

                            console.log(currentCategory.documentCategory.$name);

                        </script>
                    </div>
                    <div th:each="category, categoryIteration : ${post.targetAudienceCategoryTags}">
                        <script th:inline="javascript">

                            var currentCategory = [[${category}]];
                            var postList = document.getElementsByClassName("postListItem");
                            var currentListElement = postList[postList.length-1];

                            currentListElement.classList.add(currentCategory.targetAudienceCategory.$name);

                        </script>
                    </div>
                    <span th:text="${post.title}" class="post-title">Post title</span>
                    <span th:text="${post.body}" class="post-body">Post body</span>
                </a>
            </li>

        </ul>

    </div>
</div>
</div>
</body>
</html>
