<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/skeleton/head :: head_user"></head>

<body>

<!--===========
2 ) Preloader
============-->

<div id="preloader">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!--=========
3 ) Homepage
==========-->

<div class="home-page">

    <!--( a ) Introduction -->

    <div th:replace="fragments/menu/menu-introduction :: menu-introduction"></div>


    <!-- ( b ) Navigation Menu -->

    <div class="menu">

        <div th:replace="fragments/menu/menu-project :: menu-project"></div>

        <div th:replace="fragments/menu/menu-data :: menu-data"></div>

        <div th:replace="fragments/menu/menu-press :: menu-press"></div>

        <div th:replace="fragments/menu/menu-aboutus :: menu-aboutus"></div>

        <div th:replace="fragments/menu/menu-contact :: menu-contact"></div>

    </div>
</div>

<!--=============
Close Button
==============-->

<div class="close-btn"></div>

<!--=============
Profile Page - PROJEKTEK - portfolio
==============-->
<div th:replace="fragments/content/project/content-project :: content-project"></div>

<!--=============
Resume Page  - DATA - resume
===============-->

<div th:replace="fragments/content/data/content-data :: content-data"></div>

<!--=============
Press page
===============-->

<div th:replace="fragments/content/press/content-press :: content-press"></div>

<!--===============
Portfolio Page  - ABOUTUS - profile
================-->

<div th:replace="fragments/content/aboutus/content-aboutus :: content-aboutus"></div>
<!--Profile Page - DONATE-->
<div th:replace="fragments/content/aboutus/content-donate :: content-donate"></div>

<!--==============
Contact Page - KAPCSOLAT
===============-->

<div th:replace="fragments/content/contact/content-contact :: content-contact"></div>

<div th:replace="fragments/skeleton/javascript-links :: javascript-link-user"></div>

</body>
</html>